@import 'https://fonts.googleapis.com/css?family=Share+Tech+Mono';

#header{
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
}

#calculator{
    display: flex;
    flex-direction: column;
    background: #ffffff;
    text-align: center;
    width: 450px;
    border-radius: 8px;
    border: 1px solid;
    border-color: #000000;
    padding: 8px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto; 
}

#screen{
    background: #ffff;/* #bcbcbc; */
    padding: 8px;
    margin: 16px 12px 10px 16px;
    text-align: center;
    font-family: 'Share Tech Mono', monospace;
    border-radius: 8px;
    border: 1px solid #70757a;
    box-shadow: inset 5px 5px 5px rgb(0 0 0 / 10%), inset -5px -5px 5px rgb(0 0 0 / 10%)
}

    /* border: 1px solid #dadce0; */
    /* box-shadow: inset 8px 8px 8px rgb(0 0 0 / 10%), inset -8px -8px 8px rgb(0 0 0 / 10%); */
    /*     box-shadow: inset 0 5px 15px #3c4043;
    border: 2px solid #dadce0;  */
    /* color: #3c4043; */
/* #screen:hover{
    border: 1px solid #70757a; 
} */

#ans{
    font-size: 33px;
    text-align: right;
    background-color: transparent;
    border-color: transparent;
}

#previous #calculation {
    font-size: 15px;
}

#ans, #previous{
    text-align: right;
}

.keys{
    margin-bottom: 8px;
    text-align: center;
}

.keys .row button {
    width: 62px;
    margin: 2px;
    font-weight: 500;
    color: #202124;
}

#num{
    background-color: #f1f3f4;
    border-color: #f1f3f4;
}

#num:hover{
    color: #202124;
    background-color: #dbdcdd;
}

.keys .row .btn-secondary{
    background-color: #dadce0;
    border-color: #dadce0;
}

.keys .row .btn-primary{
    color:#f1f3f4;
}